body {
    background-color: #5e5c5c;
}
  
 
.calendar {
  width: max-content;
  margin: 10% auto;
  text-align: center;
  background-color: #548df7;

  &__table {
    border-collapse: collapse;
    margin: 0 auto;

    &__name{
      font-size: 30px;

      &__daysOfWeek{
      color: white;
      background-color: #5351f3;
      }
    }
  }
}
  
.lastOrNextMonth {
  background-color: #cecece;
  color: rgb(156, 155, 155);
}
  
.currentMonth {
  padding: 0px 0px;

  &__input {
    display: none;
  }

  &__label {
    background-color: white;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 20px;
    padding: 8px 12px;

    user-select: none;
  }

  &__label.holiday__label {
    background-color: rgb(241, 125, 135);
    color: white;
  }

  &__label:hover {
    background-color: #daf86d;
    color: white;
    transition: 0.3s;
  }

  &__label--weekend:hover {
    background-color: #f1e63e;
  }
  
  &__input:checked + .currentMonth__label {
    background-color: rgb(248, 112, 70);
    color: white;
    transition: 0.3s;
  }
}
 